exportPattern("^[[:alpha:]]+")
importFrom("e1071", svm)
importFrom("MASS", ginv)
importFrom("randomForest", randomForest)
import(ggplot2)
importFrom("gridExtra", grid.arrange)
importFrom("gtools", mixedsort)
import(viridis)
import(ggthemes)
